@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (ViewBag.IsSuccess == true)
    {
        <p class="text-success">An Email Has been sent to your registered Email address. Click on this link to confirm your Email</p>
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (ViewBag.Role != null)
    {
        <h3 class="text-success">You are - <b>@ViewBag.Role</b></h3>
    }
</div>
