@model List<ApplicationUser>
@{
    ViewData["Title"] = "Users List";
}

<h1>List Of Users</h1>

<table class="table table-striped border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Role</td>
        </tr>
        }
    </tbody>
</table>