@model IdentityProject.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPasswordUser";
}

<h1>Reset Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPasswordUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label" hidden></label>
                <input asp-for="userId" class="form-control" hidden/>
                <span asp-validation-for="userId" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label" hidden></label>
                <input asp-for="Token" class="form-control"hidden />
                <span asp-validation-for="Token" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

